<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- log4net.conf -->
  <add key="LOG4NET_CONF_FILE_PATH" value="conf\log4Net.conf"/>

  <!--Tag read scan duration-->
  <add key="TAG_SCAN_DURATION" value="10000"/>

  <!--ISC_LRU reader name : ID ISC.LRU3500 | ID ISC.LRU3000 -->
  <add key="ISC_LRU_NAME" value="ID ISC.LRU3500"/>
  <add key="LRU_CONNECTION_TYPE" value="USB"/>
  
  <add key="IMPINJ_HOST_NAME" value="SpeedwayR-10-3B-05.local"/>
  
  <add key="NB_TAG_FOR_EACH_NOTIFICATION" value="256"/>

  <!--Badge reader configuration-->
  <add key="BADGE_READER_SCAN_TEMPO" value="250"/>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
